DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=gpt5_collection
PDF_PATH=document.pdf

OPENAI_MODEL_NAME=gpt-5-nano
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'